[submodule "Tweaks/Alderis"]
	path = Tweaks/Alderis
	url = https://github.com/hbang/Alderis
[submodule "Tweaks/PSHeader"]
	path = Tweaks/PSHeader
	url = https://github.com/PoomSmart/PSHeader
[submodule "Tweaks/Return-Youtube-Dislikes"]
	path = Tweaks/Return-Youtube-Dislikes
	url = https://github.com/PoomSmart/Return-Youtube-Dislikes
[submodule "Tweaks/YouPiP"]
	path = Tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP
[submodule "Tweaks/YouTubeHeader"]
	path = Tweaks/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader
[submodule "Tweaks/iSponsorBlock"]
	path = Tweaks/iSponsorBlock
	url = https://github.com/Galactic-Dev/iSponsorBlock
[submodule "Tweaks/YTSpeed"]
	path = Tweaks/YTSpeed
	url = https://github.com/Lyvendia/YTSpeed
[submodule "Tweaks/YTETA"]
	path = Tweaks/YTETA
	url = https://github.com/iCrazeiOS/YTETA
