
# Created by https://www.toptal.com/developers/gitignore/api/theos-tweak
# Edit at https://www.toptal.com/developers/gitignore?templates=theos-tweak

### THEOS-Tweak ###
._*
*.deb
packages
.debmake
_
obj
.theos
.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/theos-tweak

.vscode
Resources/*
!Resources/.keep
Tweaks/Youtube-Reborn/*
!Tweaks/Youtube-Reborn/.keep
*.done
